*{
    padding: 0;
    margin: 0;
    outline: 0;
}

#home:hover{
    color: blueviolet;
    
    
}
#home{
    font-size: 20px;
    font-weight: 600;
    transition: 1s;
    transition-delay:0.5s ;
}

.home-one{
    transition: 0.5s  ;
}

.home-one:hover{
    color: rgb(110, 8, 206);
    
    font-size: 20px;
   
    
}

.home-two{
    transition: 0.5s;
}

.home-two:hover{
    color: rgb(110, 8, 206);
    font-size: 20px;
   
    
}



#service{
    font-size: 20px;
    font-weight: 600;
}
.pulse{
    width: 45px;
    height: 45px;
    background-color: #1548b5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.IMG{
    filter: brightness() invert(1);
}

a{
    text-decoration: none;
    color: black;
}

#header-section{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    
}

.navbar-brand{
    font-size: 30px;
    font-weight: 600;
    font-family: monospace;
    margin-right: 200px;
}

#project{
    font-size: 20px;
    font-weight: 600;
}

#about{
    font-size: 20px;
    font-weight: 600;
}

#pages{
    font-size: 20px;
    font-weight: 600;
}
#contact{
    font-size: 20px;
    font-weight: 600;
}
.nav-item{
    padding-left: 20px;
}

#header{
    /* background-color:rgba(253,237,45,81); */
    /* background-image: url(./pictures/bg.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden; */
    background-color: rgb(231, 249, 231);

}
#badge{
    font-size: 20px;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 80px;
}
#text{
    font-size: 70px;
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 40px;
}
#text2{
    margin-left: 60px;
}

#button{
    margin-left: 60px;
    margin-top: 30px;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    height: 50px;
    font-weight: bold;
}




.text2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #100505;
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.text3{
    font-weight: 500;
}

hr{
    margin-left: 60px;
    margin-top: 30px;
}
.rating{
    margin-left: 60px;
    margin-top: 10px;
}
.rating2{
    margin-left: 140px;
}
.column{
    margin-top: 100px;

}

.right-image{
   width: 500px;
   height: 500px;
   background-image: url(./pictures/p1.jpg);
    margin-top: 40px;
    background-size: cover;
    overflow: hidden;
    /* margin: 80px auto; */
    border-top-left-radius: 40px;
    border-radius: 40px;
    margin-left: 90px;
    border-bottom-right-radius: 30%;
    align-content: center;
    /* display: block; */
    position: static;
    z-index:0;
    
    
}

.navbar{
    position: fixed;
}

.circle-img-section{
    position: relative;}

#img1{
     position: absolute;
    top: -2px;
    z-index: 1;
    
}

#img2{
    position: absolute;
    top: -4px;
    left: 22px;
    z-index: 2 ;
    
}

#img3{
position: absolute;
top: -4px;
left: 50px;
z-index: 3;
}

.text2{
    position: absolute;
    top: 2px;
    left: 80px;
    z-index: 4;
}

.text3{
    position: absolute;
    top: 5px;
    left: 130px;
    font-weight: bold;
}




.shape-icon{
    position: absolute;
    z-index: 1;
    /* margin-left: -7px; */
    margin-left: 858px;
    margin-top: 200px;
    animation-name: move;
    animation-duration: 3s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move {
    from{left: -10px;  top:250px;  transform: translateY(20px); transition: 2s;
    }
    to{ top: 150px; left: -10px;}
}

.shapping{
    position: relative;
}


.shape2{
    position: absolute;
    right: 20px;
    top: -65px;
    animation-name: Move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

@keyframes Move{
    from{
        top: -65px;
        right: 20px;
        transform: translateY(20px);transition : 2s;
        
    }
    to{
        top: -120px;
        right: 20px;
    }
}



 /* body-section */


 .table{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

 .body-image-section{
    position: relative;
 }

 .body-image-1{
    width: 250px;
    position: absolute;
    left: 70px;
    top: 100px;
    border-radius: 20px;
    border-bottom-right-radius: 60px;
    z-index: 1;
 }

 .body-image-2{
    width: 300px;
    position: absolute;
    z-index: -1;
    border-radius: 30px;
    border-bottom-left-radius: 60px;
    left: 200px;
    top: 220px;

    
 }

 .shape-3{
    position: absolute;
    top: 400px;
    left: 95px;
    z-index: 0;
 }

 .ex-text1{
    font-size: 45px;
    color: rgb(58, 10, 249);
    position: absolute;
    left:330px ;
    top: 100px;
 }

.ex-text2{
    position: absolute;
    left: 330px;
    top: 166px;
    font-size: 18px;
    font-weight: 250;
}

.shape-4{
    position: absolute;
    top: 480px;
    left: 90px;
}



.text-section{
    margin-right: 200px;
}

.boxes1{
    position: relative;
    
}
.box1{
    position: absolute;
    z-index: -1;
    
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid black;
}
.text-section .boxes1 .box2{
     position:absolute; 
     z-index: 1; 
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    
}

.boxes2{
    position: relative;
}

.box1-1{
    position: absolute;
    z-index: -1;
    top: 140px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid black;
}

.text-section .boxes2 .box2-1{

    position:absolute; 
    z-index: 1; 
   left: 10px;
   top: 150px;
   width: 20px;
   height: 20px;
   border-radius: 2px;
   border: 1px solid blueviolet;
   background-color: blueviolet;
}

.button-grp{
    position: relative;
}
.button-grp .video-icon{
    position: absolute;
    background-image: url(./pictures/shape5.svg);
    overflow: hidden;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    top: 250px;
    left: 200px;
    background-color:rgb(179, 175, 165);
    cursor: pointer;
    border: 1px ;
    transition: 0.5s;
}

.button-grp .video-icon:hover {
    scale: 1.2;
    box-shadow: 2px black;
}

.reputation-section{
    position: relative;
}


.box{
    position: absolute;
    left: -1px;
    height: 10px;
    width: 3px;
    background-color: rgb(23, 8, 227);
    animation-name: moving;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes moving{
    from{
        left: -1px;
        top: 0px;

    }

    to{
        left: -1px;
        top: 40px;
    }
}



.About-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-container{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    max-width: 960px;
    overflow: visible;
    position: static;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    height: 1.667;
    color: #4a4a4a;
}
.home-about-grid{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 200px;
    justify-content: stretch;
    align-content: center;
}
.home-about-image-wrapper{
    display: block;
    max-width:600px;
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    margin-top: 150px;
    
   
    
}

.about-upper-image{
    display: inline-block;
    align-content: start;
    max-width: 286px;
    width: 90%;
    margin-bottom: -150px;
    font-size: 18px;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 32px;
}

.about-lower-image{
    display: block;
    margin: auto;
    max-width: 400px;
    width: 100%;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 32px;
    position: absolute;
    left: 150px;
    top: 135px;
    z-index: -1;
}

.about-shape-1{
    display: inline-block;
    align-content: baseline;
    max-width: 100%;
    position: absolute;
    left: 40px;
    top: 270px;
    z-index: 1;
}

.about-shape-2{
    display: inline-block;
    align-content: baseline;
    max-width: 100%;
    position: absolute;
    left: 35px;
    top: 350px;
    z-index: 0;
}

.about-experiance-block{
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 245px;
    z-index: 0;
    
}

.experience-count{

    display: inline-flex;
    justify-content: space-around;
    align-items: stretch;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    height: 1px;
    color: #842dda;
    margin-top: 40px;
}
.experiance-text{
    font-size: 18px;
    font-weight: 400;
    color: #4a4a4a;
    
}

.home-about-content-wrapper{
    display: block;
    font-size: 18px;
    height: 1.6;
    color: #4a4a4a;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.badge{
    display: inline-block;
    align-content: baseline;
    margin-bottom: 24px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: static;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    height: 1.6;
    color: #4a4a4a;
    background-color: #f1f1f1;
    border-radius: 83px;
}
.section-heading{
    display: block;
    font: bold;
    font-weight: 700;
    font-size: 40px;
    height: 1.25;
    color: #0a223c;
    line-break: -0.4px;

}

.about-large-paragraph{
    display: block;
    margin-top: 24px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
    height: 1.6;
    color: #4a4a4a;
}

.about-list-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.about-list{

    display: flex;
    flex-direction: column;
}

.about-list-heading-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.about-icon-outline{
    display: block;
    width: 18px;
    height: 19px;
    border-radius: 1.5px;
    border: 1px solid #4a4a4a;
    
}

.about-icon-fill{
    display: block;
    margin-left: -10px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 17px;
    height: 17px;
    background-color: #842dda;
    border-radius: 2px;
   

}

.bold-heading{
    display: block;
    font-weight: 600;
    font-size: 18px;
    height: 1;
    color: #0a223c;
   margin-top: 0px;
   margin-left: 5px;

}

.about-list-paragraph{
    display: block;
    margin-left: 40px;
    font-size: 16px;
    margin-bottom: 30px;
}

.about-button-wrapper{
    display: flex;
    flex-direction: row;
}

.primary-button{
    display: block;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
    color: white;
    text-align: center;
    background-color: #842dda;
    border-radius: 82px;
    transition: 1s;
}

.primary-button:hover{
    background-color: rgb(10, 34, 60);
}

.video-popup-wrapper{
    display: flex;
    flex-direction: row;
}

.video-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 32px 0px rgba(132, 45, 218, 0.18);
    margin-top: 10px;
    margin-left: 30px;
}

.bold-heading2{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #0a223c;
   padding-top: 15px;
   margin-left: 20px;
}

