*{
    padding: 0;
    margin: 0;
    outline: 0;
}

#home:hover{
    color: blueviolet;
    
    
}
#home{
    font-size: 20px;
    font-weight: 600;
    transition: 1s;
    transition-delay:0.5s ;
}

.home-one{
    transition: 0.5s  ;
}

.home-one:hover{
    color: rgb(110, 8, 206);
    
    font-size: 20px;
   
    
}

.home-two{
    transition: 0.5s;
}

.home-two:hover{
    color: rgb(110, 8, 206);
    font-size: 20px;
   
    
}



#service{
    font-size: 20px;
    font-weight: 600;
}
.pulse{
    width: 45px;
    height: 45px;
    background-color: #1548b5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.IMG{
    filter: brightness() invert(1);
}

a{
    text-decoration: none;
    color: black;
}

#header-section{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    
}

.navbar-brand{
    font-size: 30px;
    font-weight: 600;
    font-family: monospace;
    margin-right: 200px;
}

#project{
    font-size: 20px;
    font-weight: 600;
}

#about{
    font-size: 20px;
    font-weight: 600;
}

#pages{
    font-size: 20px;
    font-weight: 600;
}
#contact{
    font-size: 20px;
    font-weight: 600;
}
.nav-item{
    padding-left: 20px;
}

#header{
    /* background-color:rgba(253,237,45,81); */
    background-image: url(./pictures/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}
#badge{
    font-size: 20px;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 80px;
}
#text{
    font-size: 70px;
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 40px;
}
#text2{
    margin-left: 60px;
}

#button{
    margin-left: 60px;
    margin-top: 30px;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    height: 50px;
    font-weight: bold;
}




.text2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #100505;
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.text3{
    font-weight: 500;
}

hr{
    margin-left: 60px;
    margin-top: 30px;
}
.rating{
    margin-left: 60px;
    margin-top: 10px;
}
.rating2{
    margin-left: 140px;
}
.column{
    margin-top: 100px;

}

.right-image{
   width: 500px;
   height: 500px;
   background-image: url(./pictures/p1.jpg);
    margin-top: 40px;
    background-size: cover;
    overflow: hidden;
    /* margin: 80px auto; */
    border-top-left-radius: 40px;
    border-radius: 40px;
    margin-left: 90px;
    border-bottom-right-radius: 30%;
    align-content: center;
    /* display: block; */
    position: static;
    z-index:0;
    
    
}

.navbar{
    position: fixed;
}

.circle-img-section{
    position: relative;}

#img1{
     position: absolute;
    top: -2px;
    z-index: 1;
    
}

#img2{
    position: absolute;
    top: -4px;
    left: 22px;
    z-index: 2 ;
    
}

#img3{
position: absolute;
top: -4px;
left: 50px;
z-index: 3;
}

.text2{
    position: absolute;
    top: 2px;
    left: 80px;
    z-index: 4;
}

.text3{
    position: absolute;
    top: 5px;
    left: 130px;
    font-weight: bold;
}




.shape-icon{
    position: absolute;
    z-index: 1;
    /* margin-left: -7px; */
    margin-left: 858px;
    margin-top: 200px;
    animation-name: move;
    animation-duration: 3s ;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move {
    from{left: -10px;  top:250px;  transform: translateY(20px); transition: 2s;
    }
    to{ top: 150px; left: -10px;}
}

.shapping{
    position: relative;
}


.shape2{
    position: absolute;
    right: 20px;
    top: -65px;
    animation-name: Move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

@keyframes Move{
    from{
        top: -65px;
        right: 20px;
        transform: translateY(20px);transition : 2s;
        
    }
    to{
        top: -120px;
        right: 20px;
    }
}



 /* body-section */



 .body-image-section{
    position: relative;
 }

 .body-image-1{
    width: 250px;
    position: absolute;
    left: 70px;
    top: 100px;
    border-radius: 20px;
    border-bottom-right-radius: 60px;
    z-index: 1;
 }

 .body-image-2{
    width: 300px;
    position: absolute;
    z-index: -1;
    border-radius: 30px;
    border-bottom-left-radius: 60px;
    left: 200px;
    top: 220px;

    
 }

 .shape-3{
    position: absolute;
    top: 400px;
    left: 95px;
 }

 .ex-text1{
    font-size: 45px;
    color: rgb(58, 10, 249);
    position: absolute;
    left:330px ;
    top: 100px;
 }

.ex-text2{
    position: absolute;
    left: 330px;
    top: 166px;
    font-size: 18px;
    font-weight: 250;
}

.shape-4{
    position: absolute;
    top: 480px;
    left: 90px;
}


.table{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.text-div{
    margin-right: 200px;
}

.boxes1{
    position: relative;
    
}
.box1{
    position: absolute;
    z-index: -1;
    
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid black;
}
.text-div .boxes1 .box2{
     position:absolute; 
     z-index: 1; 
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    
}

.boxes2{
    position: relative;
}

.box1-1{
    position: absolute;
    z-index: -1;
    top: 140px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid black;
}

.text-div .boxes2 .box2-1{

    position:absolute; 
    z-index: 1; 
   left: 10px;
   top: 150px;
   width: 20px;
   height: 20px;
   border-radius: 2px;
   border: 1px solid blueviolet;
   background-color: blueviolet;
}

.button-grp{
    position: relative;
}
.button-grp .video-icon{
    position: absolute;
    background-image: url(./pictures/shape5.svg);
    overflow: hidden;
    background-position: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    top: 250px;
    left: 200px;
    background-color:rgb(179, 175, 165);
    cursor: pointer;
    border: 1px ;
    transition: 0.5s;
}

.button-grp .video-icon:hover {
    scale: 1.2;
    box-shadow: 2px black;
}