
#home:hover{
    color: blueviolet;
    
}
#home{
    font-size: 20px;
    font-weight: 600;
}

.home-one{
    transition: 0.5s  ;
}

.home-one:hover{
    color: rgb(110, 8, 206);
    font-size: 20px;
   
    
}

.home-two{
    transition: 0.5s;
}

.home-two:hover{
    color: rgb(110, 8, 206);
    font-size: 20px;
   
    
}

#service{
    font-size: 20px;
    font-weight: 600;
}
.pulse{
    width: 45px;
    height: 45px;
    background-color: #1548b5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.IMG{
    filter: brightness() invert(1);
}

a{
    text-decoration: none;
    color: black;
}

#header-section{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    
}

.navbar-brand{
    font-size: 30px;
    font-weight: 600;
    font-family: monospace;
    margin-right: 200px;
}

#project{
    font-size: 20px;
    font-weight: 600;
}

#about{
    font-size: 20px;
    font-weight: 600;
}

#pages{
    font-size: 20px;
    font-weight: 600;
}
#contact{
    font-size: 20px;
    font-weight: 600;
}
.nav-item{
    padding-left: 20px;
}

#header{
    /* background-color:rgba(253,237,45,81); */
    background-image: url(./pictures/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

}
#badge{
    font-size: 20px;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 80px;
}
#text{
    font-size: 70px;
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 40px;
}
#text2{
    margin-left: 60px;
}

#button{
    margin-left: 60px;
    margin-top: 30px;
    font-size: 20px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 150px;
    height: 50px;
    font-weight: bold;
}




.text2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #100505;
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.text3{
    font-weight: 500;
}

hr{
    margin-left: 60px;
    margin-top: 30px;
}
.rating{
    margin-left: 60px;
    margin-top: 10px;
}
.rating2{
    margin-left: 140px;
}
.column{
    margin-top: 100px;

}

.right-image{
   width: 500px;
   height: 500px;
    overflow: hidden;
    background-image: url(./pictures/partner.jpg);
    background-size: cover;
    margin: 80px auto;
    border-top-left-radius: 40px;
    border-radius: 40px;
    margin-left: 90px;
    border-bottom-right-radius: 30%;
    align-content: center;
}

.navbar{
    position: fixed;
}



